pip>=26.0.1
setuptools>=70.0.0
wheel
python-dateutil>=2.8
numpy==1.26.4
pandas==2.0.3
tensorflow-cpu==2.12.0
scikit-learn==1.3.2
yfinance==0.2.36
streamlit==1.31.1
plotly==5.18.0
matplotlib==3.8.2
tqdm>=4.66
